language: node_js

node_js:
  - '0.10'

before_install:
  - rvm install 2.0.0
  - rvm use 2.0.0
  - gem install sass --version "3.2.19"
  - gem install compass --version "0.12.6"

before_script:
  - chmod +x .travis/after_success.sh

script:
  - gulp build

branches:
  except:
    - gh-pages

env:
  global:
    - REPO="git@github.com:jessy1092/hackfoldr-2.0"
    - secure: X0nhPesYOIUM9xj6Ek9HvH9m+F0IR2hO2KNI4LBOvS7a6UxXbpNcTrYy+tapngt5ma2aWSLGaZ5CGn76mPKgOdtsRTTMdfDCaOsX9REM6NC780JK82RYhq2Xa+ZQadvK9zzqiPN1cPfrYgIaB0u6GI6enD9S89xB/PDSgRh4fE8=

after_success: .travis/after_success.sh
